@import "tailwindcss";

body::-webkit-scrollbar {
  display: none;
}
.rotatable {
  animation: spin 50s linear infinite;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

#li {
  font-weight: 300;
  font-size: 14px;
  color: #b3b6c2;
  transition: 0.3s;
}
#li:hover {
  text-decoration: underline;
  color: #ffe145;
  cursor: default;
}
#p {
  font-size: 12px;
  transition: 0.3s;
}
#p:hover {
  text-decoration: underline;
  color: #ffe145;
}
